.orderInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.orderInfoTable {
  border-collapse: collapse;
}

/* put background color alternatively */
.orderInfoTable tr:nth-child(odd) {
  background-color: var(--color-light--2);
}

.rowTitle,
.rowValue {
  padding: 1rem 2rem;
  font-size: medium;
  border-bottom: 1px solid var(--color-grey--1);
}

.rowTitle {
  text-align: left;
}

.rowValue {
  text-align: left;
}

.downloadButton{
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--color-secondary);
  color: var(--color-light--3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 915px) {
  .orderInfoContainer {
    gap: 0.5rem;
  }

  .heading {
    font-size: 1.1rem;
  }

  .rowTitle,
  .rowValue {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {

  .orderInfoTable {
    display: block;
    overflow-x: hidden;
  }
}
