.successContainer {
  text-align: center;
  height: calc(100vh - 6em);
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.successHeading {
  color: var(--color-success);
  font-size: x-large;
  font-weight: bold;
}

.successMessage {
  color: var(--color-dark--1);
  font-size: medium;
  font-weight: bold;
}
