.container {
  margin: 0rem 0rem;
  padding: 0rem;
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 915px) {
  .controls {
    justify-content: flex-end;
    gap: 1rem;
  }
}

@media (max-width: 550px) {
  .controls {
    justify-content: flex-start;
    gap: 0.5rem;
  }
}
