.method {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 2px solid var(--color-grey--1);
  border-radius: 8px;
  background: var(--color-light--3);
  cursor: pointer;
  transition: all 0.2s ease;
}

.method:hover {
  border-color: var(--color-primary);
}

.selected {
  border-color: var(--color-primary);
  background-color: var(--color-light--3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  scale: 1.07;
}

.selectable {
  opacity: 0.5;
  cursor: not-allowed;
}

.selectable:hover {
  border-color: var(--color-grey--1);
}

.icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.label {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-dark--1);
}

/* Responsive Design */
@media (max-width: 480px) {
  .method {
    padding: 1rem;
  }

  .label {
    font-size: 1rem;
  }
}
